<div>
  <%= link_to image_tag("pillkeeperlogo.png", alt: "pillkeeper logo"), root_path %>
  Hello <%= link_to "#{current_user.first_name}!", user_path(current_user.id)  %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  <hr />
</div>


<h2>Edit medication</h2>

<%= form_for @med do |f| %>

  <% if @med.errors.any? %>
      <h3> <%= pluralize(@med.errors.count, "error") %> prohibited this movie from being saved </h3>
      <ul>
      <% @med.errors.full_messages.each do |message| %>
          <li><%= message %> </li>
      <% end %>
      </ul>
  <% end %>

<p> <%= f.label "Med Name" %>
    <%= f.text_field :med_name %> 
</p>
<p> <%= f.label "Dosage" %>
    <%= f.text_field :dosage %> 
</p>
<p> <%= f.label "Time of Day" %>
    <%= f.text_field :time_of_day %> 
</p>
<p> <%= f.label "Prescriber Name" %>
    <%= f.text_field :prescriber %> 
</p>
<p> <%= f.label "Prescriber Email" %>
    <%= f.text_field :email %> 
</p>
<p> <%= f.label "Prescriber Phone" %>
    <%= f.text_field :phone %> 
</p>
<%= f.hidden_field :user_id, :value => current_user.id %>

  <p>
    <%= f.submit "Update" %>
  </p>
  <p> <%= link_to 'back', meds_path %></p>
<% end %>
  