<div>
  <%= link_to image_tag("pillkeeperlogo.png", alt: "pillkeeper logo"), root_path %>
  Hello <%= link_to "#{current_user.first_name}!", user_path(current_user.id)  %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  <hr />
</div>

<h2>Medication Search</h2>

<%= form_for @med do |f| %>

<p> <%= f.label "enter the med Name" %>
    <%= f.text_field :med_name %> 
</p>
 <p>
    <%= f.submit "Search" %>
  </p>
  
<% end %>