<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <p class="navbar-brand"><%= link_to image_tag("pillkeeperlogo.png", alt: "pillkeeper logo"), root_path %></p>
    <p class="navbar-text"> Hello <%= link_to "#{current_user.first_name}!", user_path(current_user.id)  %></p>
    <p class="navbar-text"><%= link_to 'sign out', destroy_user_session_path, method: :delete %></p>
</div>
</nav>

<body>
<h2><%= @med.med_name.upcase %></h2>

<p> Name: <%= @med.med_name %></p> 
<p> Dosage: <%= @med.dosage %></p>
<p> Time of Day: <%= @med.time_of_day %></p>
<p> Prescriber: <%= @med.prescriber %></p>
<p> Prescriber Email: <%= @med.email %></p>
<p> Prescriber Phone: <%= @med.phone %></p>

<p> <%= link_to 'edit', edit_med_path %></p>
<p> <%= link_to 'back', meds_path %></p>
</body>