
<body>
<h2><%= @med.med_name.upcase %></h2>

<table>
  <tr><td><strong> Name:</strong></td> <td> <%= @med.med_name %></td> <tr>
  <tr><td> <strong>Dosage:</strong></td>  <td> <%= @med.dosage %></td> <tr>
  <tr><td> <strong>Time of Day:</strong></td>  <td> <%= @med.time_of_day %></td></tr>
  <tr><td> <strong>Prescriber:</strong></td>  <td> <%= @med.prescriber %></td></tr>
  <tr><td> <strong>Prescriber Email:</strong></td>  <td> <%= @med.email %><td></tr>
  <tr><td> <strong>Prescriber Phone: </strong></td> <td> <%= @med.phone %><td></tr>
</table>
  <br />
<p> <%= link_to 'edit', edit_med_path %></p>
<p> <%= link_to 'back', meds_path %></p>
</body>