<div>
  <%= image_tag("pillkeeperlogo.png", alt: "pillkeeper logo")%>
  <%= "Hello #{current_user.email}!" %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  <%= link_to 'my meds', meds_path, method: :get %>
  <hr />
</div>

<h2>Medication Detail: <%= @med.med_name.upcase %></h2>

<p> Name: <%= @med.med_name %> <a href="#">lookup button here!</a></p> 
<p> Dosage: <%= @med.dosage %></p>
<p> Time of Day: <%= @med.time_of_day %></p>
<p> <a href="#">lookup</a> </p> 
<p> Prescriber: <%= @med.prescriber %></p>
<p> Prescriber Email: <%= @med.email %></p>

<p> <%= link_to 'edit', edit_med_path %></p>
<p> <%= link_to 'back', meds_path %></p>