<div>
  <%= link_to image_tag("pillkeeperlogo.png", alt: "pillkeeper logo"), root_path %>
  Hello <%= link_to "#{current_user.first_name}!", user_path(current_user.id)  %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  <hr />
</div>
<h1> Edit my User Information </h1>



<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
      <h3> <%= pluralize(@user.errors.count, "error") %> prohibited this edit from being saved </h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
          <li><%= message %> </li>
      <% end %>
      </ul>
  <% end %>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label "First Name" %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label "Last Name" %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.submit "Save Profile" %>
  </p>
<% end %>

<p><%= link_to "Change your password", edit_user_registration_path %></p>
<%= link_to "<< back", user_path %>