<div>
  <%= link_to image_tag("pillkeeperlogo.png", alt: "pillkeeper logo"), root_path %>
  Hello <%= link_to "#{current_user.first_name}!", user_path(current_user.id)  %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  <hr />
</div>

<h1>My user information</h1>
<p>User Name: <%= "#{current_user.first_name} " + "#{current_user.last_name}" %> </p>
<p>User Email: <%= "#{current_user.email}" %> </p>

<%= link_to "Edit my User Information", edit_user_registration_path %>
