<!DOCTYPE html>
<html>
<head>
  <title>Pillkeeper</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <p class="navbar-brand"><%= link_to image_tag("pillkeeperlogo.png", alt: "pillkeeper logo"), root_path %></p>
    <% if user_signed_in? %>
    <p class="navbar-text"> Hello <%= link_to "#{current_user.first_name}!", user_path(current_user.id)  %></p>
    <p class="navbar-text"><%= link_to 'sign out', destroy_user_session_path, method: :delete %></p>
    <% end %>
</div>
</nav>
  

<%= yield %>

</body>  
<footer class="footer">
  &#169; <em>BananaCat Productions 2014</em><br />
  <a href="/forthcoming">Planned Improvements</a>
</footer>
</html>
